*{
    margin: 0px;
    padding: 0px;
}


.form{
    background-color: #e6e6e6;
    margin-top: 80px;
    padding-top: 60px;
}

.form-1{
    margin-left: 10px;
    width: 75%;
    margin: auto;
    display: flex;
    
}

.form-2{
    width: 77%;

}

 .form-3{
    width: 23%; 
    background:#cacbce ;
    margin-top: 30px; 
    height: 580px;
}

.line{
    display: flex;
    width: 450px;
   font-size: 22px; 
}
 .line-2{
    
    font-weight: bold;
}
.line-3{
    color: #F44336;
    padding-left: 7px;
    font-weight: bold;
} 

.nashik-c{
    height: 40px;
    display: flex;
    margin-top: 10px;
    width: 450px;
}

.nashik-n{
    padding: 10px;
    background-color: #F44336;
    color: white;
    font-weight: bold;
}

.nashik-s{
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    margin-left: 2px;
}

 .nashik-img{
    margin-top: 10px;
    height: 20vw;
    border: 4px white solid ;
    width: 95%; 
    background-image: url("Screenshot\ 2022-06-26\ 214030.png");
    background-repeat: no-repeat;
    background-size: cover; 
}  
.text-1{
    text-align: justify;
    width: 95%;
    font-size: 17px;
    margin-top: 5px;
    
} 

 .ENQUIRE-NOW{
    background-color: black;
    color: white;
    
  
    
}
.e-n{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.e-n-1{
    font-size: 13px;
    text-align: center;
} 

.form-q{ 
     width: 70%; 
    margin: auto;
}

#name{
    width: 170px;
    margin-top: 15px;
    padding: 4px;
}
#name-s{
  width: 185px;
  margin-top: 15px;
  padding: 4px;
}  

.mainotp{
    display: flex;
    width: 73%;
    margin: auto;
    margin-top: 15px;
}

.sotp{
    background-color: #e02215;
    color: white;
    padding: 5px;

}
.eotp{
    background-color: white;
    margin-left: 20px; 
    padding: 5px;

}

.text-otp{
    width: 73%;
    margin: auto;
    font-size: 12px;
    text-align: justify;
    margin-top: 15px;
    font-weight: 700;
}

.sumit{
    
    background-color: #e30000;
    width: 85px;
    color: white;
    font-size: 18px;
     padding: 5px; 
    text-align: center;
    border-radius: 5px;
    margin: auto;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.E-X-C{
    background-color: #e02215;
    padding: 10px;
    width: 220px;
    color: white;
    padding-left: 20px;
    margin-top: 20px;
    font-weight: bold;

}

@media screen and (max-width: 1200px) and (min-width: 0px) {

    .form-1{
        width: 100%;
        display: flex;
        flex-wrap: wrap;  
    }
    .form-2{
        width: 100%;
    }

    .nashik-img{
        height: 30vw;
    }
    .form-3{
        width: 100%;
    }
    .form-q{ 
        width: 190px;
    }
    
    .mainotp{
     width: 190px; 
      }
      .line{
        width: 100%;
        font-size: 15px;
      }

  .form-2{
    margin-left: 10px;
  }

}

