.OUR-TOP-RECRUITERS{
    background: white;
    padding-bottom: 100px;
}

.pc-img{
    font-weight: 600;
    font-size: 22px;
    display: flex;
    margin-left: 200px;
    margin-bottom: 30px;
    width: 70%;
}

.pc-main{
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.com{
    margin: auto;
    margin-top: 10px;
     border: 2px solid rgb(185, 185, 185) ;  
    width: 150px ;
    height: 90px;
}

footer{
    /* height: 400px; */
    border: 2px solid black ;
    background: #191f23;
    
}

.footer-main{
    margin: auto;
    width: 80%;
     padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.footer-div{
    padding-top: 20px;
    width: 200px;
     height: 250px; 
    margin: auto;
    color: white;
}
.footer-div-1{
    padding-top: 20px;
    width: 200px;
     height: 100px; 
    margin: auto;
    color: white;
}



.footer-name{
    color: #ffb700;
    height: 30px;
    /* border: 2px solid rgb(255, 255, 255); */
    font-size: 18px;
    font-weight: 400;
}

.info-likes{
    margin-bottom: 5px;
    border-bottom: 1px dashed rgb(78, 78, 78) ;
    font-size: 15px;
    padding: 1px;
}

.contact-nashik{
    width: 80%;
    padding-top: 3px;
    padding-left: 10px;
    background-color: #f9be2b;
    height: 20px;
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;

}

 .copy-main{  
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white ;
}

.All-rights-reserved{
    
    color: white;
    float: right;
    margin-right: 150px;

} 

.copy-t{
    color: white;
    margin-left: 180px;
 
}


@media screen and (max-width: 800px) and (min-width: 0px) {

    
.All-rights-reserved{
    float: none;
    margin-left: 50px;
}
    .copy-t{
        padding-top: 10px;
        margin-left: 50px;

    }
     .pc-img{
        margin: auto;
    } 
}

